.outerBox {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    width: 100%;
    color: #FFF;
    height: 100vh;
    background: linear-gradient(177.9deg, rgb(58, 62, 88) 3.6%, rgb(119, 127, 148) 105.8%);
}
.singleQuestion{
    margin-top: 7px;
    padding: 3px 0 3px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: #0DF5E3;
    color: black;
    border-radius: 5px;
}
