.loginBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #FFF;
    height: 100vh;
    background: linear-gradient(177.9deg, rgb(58, 62, 88) 3.6%, rgb(119, 127, 148) 105.8%);
}

.container {
    width: 100%;
    max-width: 500px;
    background-color: #201A30;
    /* background-color: lightgray; */
    padding: 0 15px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.name {
    color: #74707D;
    font-size: 14px !important;
    margin-bottom: 5px !important;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.button {
    background-color: #0DF5E3 !important;
    color: #201A30 !important;
    width: 100px;
    margin-top: 10px !important;
    margin-bottom: 40px !important;
    border-radius: 20px !important;
}

@media only screen and (max-width: 500px) {
    .container {
        height: 100vh;
        padding: 0 15px;
        box-shadow: none;
    }
}